body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:url('https://images.theconversation.com/files/177197/original/file-20170706-18989-9541f3.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.apx{
width: 150px;
height: 100px;
}
#aa{
height:40px; 
}
.paaa{
  border: 20;
}
